/* ••• Fonts ••• */
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-regular";
    src: url("../fonts/Roboto-regular.ttf") format("truetype");
}
/* ••• Fonts End ••• */
